@page "/"
@using Game.Web.Shared
@inherits IndexBase
@inject NavigationManager NavigationManager
<div class="index">
    <AuthorizeView>
        <Authorized>
            <div class="loginButtons">
                <button @onclick="logOutPage"> Logout </button>
            </div>
            <h1>TOTO JE DACO KED SI PRIHALSENY</h1>
        </Authorized>
        <NotAuthorized>
            <div class="loginButtons">
                <button @onclick="loginPage"> Login </button>
            </div>


            <div class="middle" style="visibility:@showMiddlePlay">
                <div class="squares">
                    <div class="square square1">
                        Learning
                    </div>
                    <div class="square square2">
                        Logic
                    </div>
                    <div class="square square3">
                        Practice
                    </div>
                    <div class="square square4">
                        Game
                    </div>
                </div>
                <div class="playButton">
                    <button @onclick="showGameSettings">PLAY</button>
                </div>
            </div>


            <div class="gameSettings" style="visibility:@showMiddleSettings">
                <div class="squares">
                        <p>Seed</p>
                        <input type="number" @bind-value="@seed" @bind-value:event="oninput">
                        <p>Dificulty</p>
                        <input type="number" @bind-value="@dificulty" @bind-value:event="oninput">
                </div>
                <div class="playButton">
                    <button @onclick="play">QUICK PLAY</button>
                </div>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</div>
@code {

    string showMiddlePlay = "visible";
    string showMiddleSettings = "hidden";
    int seed=0;
    int dificulty=0;
    public void showGameSettings()
    {
        showMiddlePlay = "hidden";
        showMiddleSettings = "visible";
    }
    public void loginPage()
    {
        NavigationManager.NavigateTo("/Identity/Account/Login", true);
    }
    public void play()
    {
        string s = $"/game/{seed}/{dificulty}";
        NavigationManager.NavigateTo(s, true);
    }
    public void logOutPage()
    {
        NavigationManager.NavigateTo("/Identity/Account/Logout", true);
    }
}
