@page "/"
@using Game.Web.Shared.Index
@inherits IndexBase
<div class="index">
    @*<Login></Login>*@
    <Register></Register>
    @*<div class="mainBtn">
        <button class="btn btn-group-lg btn-primary btn-success">PLAY</button>
    </div>  *@  
</div>
@code {

}
