@page
@model Game.Web.Areas.Identity.Pages.Account.LoginModel
@{
    ViewData["Title"] = "LOG IN";
}
<div class="row" style="position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h1 style="font-weight: 1000;
    font-family: 'Open sans', sans-serif;">@ViewData["Title"]</h1>
                <div class="formcontainer">
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating" style="margin:10px">
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for ="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating" style="margin:10px">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for ="Input.Password" class="text-danger"></span>
                    </div>
                    <div style="margin:10px">
                        <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Login</button>
                        <button type="submit" asp-page="./Register">Register</button>
                    </div>                    
                </div>
            </form>
        </section>
    </div>
</div>
