@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

body {
    background: #005AA7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFDE4, #005AA7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.game .blocks {
    padding: 0;
    margin: 0;
    float: left;
    border-style: solid;
    border-width: 3px;
    border-color: #007FFF;
}

.game .items {
    min-width: 360px;
    padding: 0;
    margin: 0;
    float: left;
    padding-left: 40px;
    padding-top: 40px;
}

.game .block {
    width: 40px;
    height: 40px;
    z-index: 1;
    border: 1px solid #5bb66e;
    /*position:absolute;*/
}

.game .item {
    width: 40px;
    height: 40px;
    z-index: 1;
    /*position:absolute;*/
}

.game .player {
    z-index: 2;
    width: 40px;
    height: 40px;
    position: absolute;
}

.game .row {
    width: 100%;
}

.game .codeBlock {
    height: 600px;
    width: 360px;
    float: left;
    padding-left: 40px;
    padding-top: 40px;
}

.game .textInput {
    width: 100%;
    height: 80%;
    max-height: 600px;
}

    .game .textInput textarea {
        width: 100%;
        height: 50%;
        max-height: 550px;
        min-height: 350px;
        background-color: #00000036;
        border-style: solid;
        border-width: 1px;
        border-color: #007FFF;
        font-weight: 600;
        font-family: 'Open sans', sans-serif;
    }

        .game .textInput textarea:focus {
            width: 100%;
            height: 50%;
            max-height: 550px;
            min-height: 350px;
            background-color: #00000020;
            border-style: solid;
            border-width: 1px;
            border-color: #5badff;
        }

.game .btn {
    padding: 7px;
    margin: 10px;
}

.game .spinner {
    border: 16px solid silver;
    border-top: 16px solid #337AB7;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 700ms linear infinite;
    top: 40%;
    left: 55%;
    position: absolute;
}

.game .settings {
    width: 20%;
    height: auto;
    background-color: #646464cf;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 4px;
    border-color: #646464;
}

.game h1 {
    text-align: center;
    margin-top: 5px;
    font-weight: 600;
    font-family: 'Open sans', sans-serif;
}

.game h3 {
    text-align: center;
    margin-top: 5px;
    font-weight: 400;
    font-family: 'Open sans', sans-serif;
}

.game .slider {
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-between; /* not center */
    align-items: center;
}

.game .settingsbtn {
    width: 80px;
}

.console {
    width: 100%;
    height: 100px;
    background-color: #00000036;
    word-wrap: break-word;
    border: 2px solid #007FFF;
    border-radius: 5px;
}

.game .console p {
    margin: 0;
    font-family: 'Open sans', sans-serif;
}

.game .infobtn {
    text-align: center;
    display: flex;
    justify-content: space-between; /* not center */
    align-items: center;
    margin: auto;
}

.game .settings p {
    text-align: center;
}

.game .btn {
    margin: 5px;
}

.game .rz-progressbar {
    margin: 5px 0 5px 0;
}

.game .commandName {
    margin-bottom: 0;
}

.game .info {
    max-height: 500px;
    overflow-y: scroll
}

.game .hpBar {
    height: 20px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between; /* not center */
    align-items: center;
    background-color: red;
}

.game .hpBarLeft {
    height: 20px;
    background-color: green;
}

.game h5 {
    text-align: center;
    margin-top: 3px;
    font-weight: 200;
    font-family: 'Open sans', sans-serif;
}

.game .buttonsDiv {
    text-align: center;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game .combat {
    width: 20%;
    height: auto;
    /*background-color: #A62B1FCC;*/
    background-color: #E63B60CB;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 3px;
    border-color: #E63B60;
}

    .game .combat p {
        text-align: center;
    }

.game .brandCombat {
    width: 100%;
    height: 200px;
    background-color: #646464cf;
    margin-top: 20px;
}

.game .changePositionBtn {
    position: relative;
    height: 3px;
    width: 3px;
}

.game .mordeCombat {
    width: 100%;
    height: 200px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-width: 3px;
    font-weight: 1000;
    font-family: 'Open sans', sans-serif;
}
/******************************************************************************************/

.index {
    font-family: Roboto, Arial, sans-serif;
    font-size: 15px;
    width: 100%;
    height: 100px;
    background: #005AA7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FFFDE4, #005AA7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.login {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.register {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

    .index form {
        border: 5px solid #f1f1f1;
        background-color:azure;
    }

.index input[type=text], input[type=password] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.index button {
    background-color: #8ebf42;
    color: white;
    padding: 14px 0;
    margin: 10px 0;
    border: none;
    cursor: grabbing;
    width: 100%;
}

.index h1 {
    text-align: center;
    fone-size: 18;
}

.index button:hover {
    opacity: 0.8;
}

    .index .formcontainer {
        text-align: left;
        margin: 24px 50px 12px;
    }

    .index .container {
        padding: 16px 0;
        text-align: left;
    }

.index span.psw {
    float: right;
    padding-top: 0;
    padding-right: 15px;
}
.mainBtn {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width:20%;
}
    .mainBtn button {
        background-color: #8ebf42;
        color: white;
        padding: 14px 0;
        margin: 10px 0;
        border: none;
        cursor: grabbing;
    }
        .mainBtn button:hover {
            background-color: #8ebf42;
            color: white;
            padding: 14px 0;
            margin: 10px 0;
            border: none;
            opacity: 0.8;
        }

/* Change styles for span on extra small screens */
@media screen and (max-width: 300px) {
    .index span.psw {
        display: block;
        float: none;
    }
    
