@using Game.Web.Pages
@inherits CodeBlockBase

<div class="codeBlock">
    <EditForm class="textInput" Model="@codeLines" OnValidSubmit="sendCode">
        <InputTextArea id="code" class="form-control" @bind-Value="codeLines.text"></InputTextArea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>
</div>

